Dockerfile
.dockerignore
.gitignore

*node_modules
npm-debug.log
README.md

src/shared-testing
src/lambdas/retrieve-event-from-s3
src/lambdas/translate-event
src/lambdas/record-event
src/message-receiver
src/transfer-messages
src/event-handler
src/incoming-message-handler
src/audit-log-api
