.container {
  display: block;
  margin-bottom: 1rem;

  /* TODO: Use proper theming. */
  border: 1px solid blue;
  padding: 0.75rem;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.correlationId {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

.receivedDate {
  font-style: italic;

  /* TODO: Use proper theming. */
  color: #bbb;
  display: block;
}
